*, *:before, *:after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
	text-decoration: none;
	color: white;
}
html, body{
    height: 100%;
    background-color: #101011;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 2.5vh;
    scroll-behavior: smooth;
}
.container{
    width: 90vw;
    display: flex;
    margin: 0 auto;
}
@media screen and (max-width: 430px) {
    .nav {
        width: 100%;
        min-width: 320px;
        height: 100%;
        position: fixed;
        top: 0;
        bottom: 0;
        margin: 0;
        left: -25em;
        transition: right 0.3s ;
        background: #232323;
        z-index: 2000;
    }
    .slide-bg{
        min-height: 100vh;
        background:
                linear-gradient(rgba(0,0,0, 0.2), rgba(51, 51, 51, 0.2)),
                url("https://img5.goodfon.ru/original/2880x1800/5/e3/banquet-friends-variety-of-food-dishes-table-top-view.jpg") center / cover no-repeat fixed;
        display: flex;
        width: 100%;
        max-width: 100vw;
        margin: 0 auto;
        text-align: center;
        flex-direction: column;
    }
    html,
    body {
        margin: 0;
        overflow-x: hidden;
    }
    .content-body{
        max-width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 8vw;
    }
    .content h1{
        font-size:20vw;
        margin-right: 4em;
        text-align: left;
        font-family:  HelveticaNuelt, sans-serif;
        text-transform: uppercase;
        transform: scale(.5, 0.4);
    }
    .page-text{
        font-size: 5.5vw;
        text-align: left;
        margin-top: 2vh;
    }
    .page-text > h3{
        margin-top: 3vh;
        color: rgb(96, 96, 96);
        font-size: 4vw;
    }

    .pages-left{
        position: relative;
        width: auto;
        margin: 0 20px;
    }
    .pages-left > .page{
        display: flex;
        flex-direction: column;
        row-gap: 1vw;
        position: relative;
        width: 100%;
        height: 48vh;
        border-top: .01em solid #fff200;
        padding-top: 4vw;
    }

    .pages-left > .page >.photo{
        width: 100%;
        height: 21vh;
        overflow: hidden;
    }

    .pages-left> .page > .photo > img{
        width: 100%;
    }
    .img-3{
        position: relative;
        bottom: 1.4em;
    }
    .photo > img:hover{
        transform: scale(1.1);
        transition: .8s;
    }

    .pages-right{
        position: relative;
        width: auto;
        margin: 0 20px;
    }

    .pages-right > .page{
        display: flex;
        flex-direction: column;
        row-gap: 1vw;
        position: relative;
        width: 100%;
        height: 48vh;
        border-top: .01em solid #fff200;
        padding-top: 4vw;
    }

    .pages-right> .page > .photo > img{
        width: 100%;
    }
    .img-4{
        position: relative;
        bottom: 8vw;
        height: 26vh;
    }
    .img-5{
        position: relative;
        top: -2vw;
    }
    .img-6{
        position: relative;
        bottom: 10vw;
    }

    .pages-right > .page > .photo{
        width: 100%;
        height: 21vh;
        overflow: hidden;
        position: relative;
        margin-left: auto;
    }
    .container{
        width: 90vw;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .about-us-text{
        display:flex;
        flex-direction: column;
        width: 100%;
    }
    .about-us-text h1{
        float:left;
        font-weight: 800;
        font-size: 5vw;
    }
    .about-us-text p{
        font-size: 5vw;
    }
    .about-us-text hr{
        width: 100%;
        border:1px solid white;
        margin: 1.5vw 0 2vw 0;
    }
    .about-us .btn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90vw;
        margin-top: 10vw;
    }
    .about-us .btn button{
        width: 50vw;
        height: 10vw;
        background: none;
        border:2px solid white;
        font-size: 5.3vw;
        font-weight: 400;
    }
}

@media screen and (min-width: 430px){
    .nav {
        width: 10%;
        min-width: 320px;
        height: 100%;
        position: fixed;
        top: 0;
        bottom: 0;
        margin: 0;
        left: -25em;
        transition: right 0.3s ;
        background: #232323;
        z-index: 2000;
    }

    .slide-bg{
        min-height: 100vh;
        background:
                linear-gradient(rgba(0,0,0, 0.2), rgba(51, 51, 51, 0.2)),
                url("https://img5.goodfon.ru/original/2880x1800/5/e3/banquet-friends-variety-of-food-dishes-table-top-view.jpg") center / cover no-repeat fixed;
        display: flex;
        width: 100%;
        max-width: 100vw;
        margin: 0 auto;
        text-align: center;
        flex-direction: column;
        justify-content: center;
    }

    .content h1{
        font-size:15vw;
    margin-right: 80vw;
        text-align: left;
        font-family:  HelveticaNuelt, sans-serif;
        text-transform: uppercase;
        transform: scale(.5, 0.4);
    }

    .pages-left{
        position: relative;
        width: auto;
    }
    .pages-left > .page{
        display: flex;
        flex-direction: column;
        row-gap: 1vw;
        position: relative;
        width: 45vw;
        height: 45vw;
        border: none;
        border-right: .05em solid #fff200;
        border-top: .2vw solid #fff200;
        padding-top: 4vw;
    }
    .pages-left > .page > .page-text{
        font-size: 1.5vw;
    }

    .photo{
        width: 40vw;
        height: 20vw;
        overflow: hidden;
    }

    .pages-left> .page > .photo > img{
        width: 100%;
    }
    .img-3{
        position: relative;
        bottom: 6.5vh;
    }
    .photo > img:hover{
        transform: scale(1.1);
        transition: .8s;
    }

    .pages-right{
        position: relative;
        width: auto;
    }

    .pages-right > .page{
        display: flex;
        flex-direction: column;
        row-gap: 1vw;
        position: relative;
        width: 45vw;
        height: 45vw;
        border: none;
        border-left: .05em solid #fff200;
        border-top: .2vw solid #fff200;
        padding-top: 4vw;
    }
    .pages-right > .page > .page-text{
        font-size: 1.5vw;
        position: relative;

        text-align: right;
    }
    .pages-right> .page > .photo > img{
        position: relative;
        width: 100%;
        bottom: 4vw;
    }
    .img-4{
        position: relative;
        bottom: 13vh;
    }

    .pages-right > .page > .photo{
        width: 40vw;
        height: 20vw;
        overflow: hidden;
        position: relative;
        margin-left: auto;
    }
    .about-us-text{
        display:flex;
        flex-direction: column;
        width: 55%;
    }
    .about-us-text h1{
        float:left;
        font-weight: 800;
        font-size: 3.5vw;
    }
    .about-us-text p{
        font-size: 1.3vw;
    }
    .about-us-text hr{
        width: 100%;
        border:1px solid white;
        margin: 1.5vw 0 2vw 0;
    }
    .about-us .btn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50vw;
    }
    .about-us .btn button{
        width: 25vw;
        height: 5vw;
        background: none;
        border:2px solid white;
        font-size: 2.3vw;
        font-weight: 400;
        transition: all .5s;
    }
    .about-us .btn button:hover{
        background-color: white;
        color: black;
    }
    .img-5{
        position: relative;
        top: -1vw;
    }
}


.nav-toggle:after {
    content: "\2630";
    text-decoration: none;
}
.nav-toggle {
    position: absolute;
    left: 28.4em;
    top: 1em;
    padding: 0.5em;
    background: inherit;
    cursor: pointer;
    font-size: 2.2vh;
    line-height: 1;
    z-index: 2001;
    border: .1em solid darkgrey;
}

.nav-toggle:hover {
    color: #ffffff;

}

[id='nav-toggle'] {
    position: absolute;
    display: none;
}


[id='nav-toggle']:checked ~ .nav > .nav-toggle {
    left: 0;
    top: 1em;
}

[id='nav-toggle']:checked ~ .nav {
    left: 0;
    overflow-y: auto;
}



.nav > ul {
    display: block;
    margin: 0;
    padding: 20vh 1vh;
    list-style: none;
    text-align: center;

}

.nav > ul > li {
    line-height: 2.6;
    opacity: 0;
    transform: translateX(-50%);
    transition: opacity .5s .1s, transform .5s .1s;
}

[id='nav-toggle']:checked ~ .nav > ul > li {
    opacity: 1;
    transform: translateX(0);
}

.nav > ul > li > a {
    display: inline-block;
    position: relative;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 3.2vh;
    color: #dadada;
    width: 100%;
    text-decoration: none;
    transition:.5s ease;
}

.nav > ul > li > a:before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
}

.nav > ul > li > a:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 50%;
    margin-left: 25%;
    background: #fff200;
    transition: width .5s ease;
}

.wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.slide-bg-text{
    flex: 1 1 auto;
    width: 50%;
    min-height: 100vh;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.slide-bg-text > h1{
    font-size: 2.4em;
    font-family: Arial, sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    transform: scale(1.5, 1.1);
    width: 58vw;
    position: relative;
    right: 4vw;
}

.slide-bg-text > h5{
    position: relative;
    bottom: 1em;
    font-size: math;
    transform: scale(1.2, .9);
    color: #fff200;
}

.slide-bg-text > p{
    font-family: 'Bad Script', cursive;
    position: relative;
    bottom: .3em;
    transform: scale(1.7, 1.1);
    font-weight: bold;
}

.slide{
    background-color: #ec0000;
    display: flex;
    min-height: 100vh;
}
.slide2{
    background-color: #d0bd23;
    display: flex;
    min-height: 100vh;
}



.about-us{
    background-color: #101011;
    flex: 1 1 auto;
    width: 100%;
    max-height: 100vh;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.slide2 .slide-body{
    background-color: #101011;
    flex: 1 1 auto;
    max-width: 100vh;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content{

}
.content-body{
    max-width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    padding-bottom: 8vw;
}





.footer{
    border-top: .1em solid #fff200;
    background: #000;
    text-align: center;
}
.footer-body{
    max-width: 100vh;
    margin: 0 auto;
    padding: 1vh 1vh;
}

.footer-info{
    column-gap: 6vw;
    font-size:1.35vh;
    text-align: center;
}
.about-company{
    display: flex;
    flex-direction: column;
    row-gap: 0.5vw;
    text-align: center;
}
footer .about-company h2{
    font-size: 3vh;
    text-align: center;
}


.footer-info span a{
    text-decoration: underline;
    text-decoration-color: #fff200;
}
footer .contact-icons{
    position: relative;
    text-align:right;
    font-size:32px;
}
footer .contact-icons a{
    color:black;}
.footer-title{
    font-size: 1.5vh;
}
.footer-subtitle{
    font-size: 1.2vh;
}

