* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;

}

body {
    background-size: cover;
    height: 2000px;
    background-color: #eaeaea;
}

.menu{
    position: fixed;
    background-color: white;
    width: 100%;
    height: 70px;
    z-index: 50;

}

.logo{position: absolute;
    height: 65px;
    left: 810px;
    top: 2px;
}
.logo-text{position: absolute;
    width: 180px;
    height: 40px;
    top: 15px;
    left: 885px;

}
.bg-menu{
    position: relative;
    display: inline-block;
    width:0;
    }
.bg-menu:hover .bg-list{
    display:block;
}
.bg-list{
    display: none;
    position: fixed;
    top: 70px;
    width: 100%;
    height: 140px;
    background-color: #d7d7d7;
}

.btn1{

    z-index: 2;
    text-align: center;
    height: 70px;
    color: black;
    position: relative;
    top: 0;
    padding: 16px;
    border: none;
    background-color: rgba(28,28,28,0);
    left: 1230px;
    white-space: nowrap;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.btn1:hover{
    color: #B3CE41;
}
.btn-list1 a:hover{background-color: #b6b6b6}
.bg-menu:hover .btn-list1 {display: block;}

.btn-list1{
    left: 1230px;
    display: none;
    position: absolute;
    background-color: rgba(1,1,1,0);
    z-index: 1;

}



.btn-list1 a{
    color: #d0654c;
    padding: 11px 5px;
    text-decoration: none;
    display: block;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btn-list1 a:hover{
    color: #F0522D;
    transition: 1s;
}


.bg-menu2{
    position: relative;
    display: inline-block;
    width:0;
}
.bg-menu2:hover .bg-list2{
    display:block;
}
.bg-list2{
    display: none;
    position: fixed;
    top: 70px;
    width: 100%;
    height: 140px;
    background-color: #d7d7d7;
}

.btn2{

    z-index: 2;
    text-align: center;
    height: 70px;
    color: black;
    position: relative;
    top: 0;
    padding: 0;
    border: none;
    background-color: rgba(28,28,28,0);
    left: 1360px;
    white-space: nowrap;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.btn2:hover{
    color: #B3CE41;
}
.btn-list2 a:hover{background-color: #b6b6b6}
.bg-menu2:hover .btn-list2 {display: block;}

.btn-list2{
    left: 1340px;
    display: none;
    position: absolute;
    background-color: rgba(1,1,1,0);
    z-index: 1;

}


.btn-list2 a{
    color: #d0654c;
    padding: 11px 5px;
    text-decoration: none;
    display: block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btn-list2 a:hover{
    color: #F0522D;
    transition: 1s;
}



.bg-menu3{
    position: relative;
    display: inline-block;
    width:0;
}
.bg-menu3:hover .bg-list3{
    display:block;
}
.bg-list3{
    display: none;
    position: fixed;
    top: 70px;
    width: 100%;
    height: 140px;
    background-color: #d7d7d7;
}

.btn3{

    z-index: 2;
    text-align: center;
    height: 70px;
    color: black;
    position: relative;
    top: 0;
    padding: 0px;
    border: none;
    background-color: rgba(28,28,28,0);
    left: 580px;
    white-space: nowrap;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.btn3:hover{
    color: #B3CE41;
}
.btn-list3 a:hover{background-color: #b6b6b6}
.bg-menu3:hover .btn-list3 {display: block;}

.btn-list3{
    left: 530px;
    display: none;
    position: absolute;
    background-color: rgba(1,1,1,0);
    z-index: 1;

}


.btn-list3 a{
    color: #d0654c;
    padding: 11px 5px;
    text-decoration: none;
    display: block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btn-list3 a:hover{
    color: #F0522D;
    transition: 1s;
}



.bg-menu4{
    position: relative;
    display: inline-block;
    width:0;
}
.bg-menu4:hover .bg-list4{
    display:none;
}
.bg-list4{
    display: none;
    position: fixed;
    top: 70px;
    width: 100%;
    height: 140px;
    background-color: #d7d7d7;
}

.btn4{
    text-decoration: none;
    z-index: 2;
    text-align: center;
    height: 70px;
    color: black;
    position: relative;
    top: 0;
    padding: 0px;
    border: none;
    background-color: rgba(28,28,28,0);
    left: 450px;
    white-space: nowrap;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.btn4:hover{
    color: #B3CE41;}
.btn3:hover{
    color: #B3CE41;
}
.btn-list4 a:hover{background-color: #b6b6b6}
.bg-menu4:hover .btn-list4 {display: none;}

.btn-list4{
    left: 500px;
    display: none;
    position: absolute;
    background-color: rgba(1,1,1,0);
    z-index: 1;

}


.btn-list4 a{
    color: #d0654c;
    padding: 11px 5px;
    text-decoration: none;
    display: block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btn-list4 a:hover{
    color: #F0522D;
    transition: 1s;
}





















.Yesh{
    position: relative;
    left: 680px;
    top: -50px;
}

.ytext{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.Help {
    background-color: #4CAF50;
    color: white;
    padding: 6px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
/* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
.Yesh:hover .Help {background-color: #4fbe53;}


.Needh{
    position: relative;
    left: 1090px;
    top: -80px;
}

.ntext{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.NHelp {
    background-color: #e7450b;
    color: white;
    padding: 6px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
.Needh:hover .NHelp {background-color: #ff3c00;}

.modal {
    position: fixed; /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5); /* фон */
    z-index: 1050;
    opacity: 0; /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; /* анимация перехода */
    pointer-events: none; /* элемент невидим для событий мыши */
    margin: 0;
    padding: 0;
}
.modal:target {
    opacity: 1; /* делаем окно видимым */
    pointer-events: auto; /* элемент видим для событий мыши */
    overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Josefin Sans', sans-serif;
}


.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    max-width: 400px;
    width: 100%;
    border-radius: 20px;
    padding: 30px 0;
}

.wrapper .title{
    background: #f2483b;
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    letter-spacing: 5px;
    height: 35px;
    line-height: 38px;
    color: #fff;
    margin-bottom: 10px;
}

.checkout_form{
    padding: 0 30px;
}

.checkout_form .input_item input[type="text"]{
    width: 100%;
    border: 0;
    background: transparent;
    text-align: center;
    border-bottom: 2px solid #dddddd;
    padding: 10px;
    transition: all 0.5s ease;
    color: #f2483b;
    font-size: 18px;
}

.checkout_form .input_item{
    margin-bottom: 10px;
}

.input_grp{
    margin-bottom: 10px;
}

.input_grp,
.input_grp .input_item.expiry_field{
    display: flex;
    justify-content: space-between;
}

.input_grp .input_item{
    width: 45%;
}

.input_grp .input_item.expiry_field input[type="text"]{
    width: 45%;
}

.btn{
    width: 150px;
    background: #f2483b;
    margin: 0 auto;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 20px;
}

.btn a{
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 5px;
    color: #fff;
}

.checkout_form .input_item input[type="text"]:focus{
    border-bottom: 2px solid #f2483b;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #dddddd;
}
::-moz-placeholder {
    /* Firefox 19+ */
    color: #dddddd;
}
:-ms-input-placeholder {
    /* IE 10+ */
    color: #dddddd;
}








.podval{
position: absolute;
bottom: -2000px;
width: 100%;
background-color: black;
height: 500px;
z-index: 38449841;
}

.social{
position: absolute;
top: 100px;
height: 200px;
width: 400px;
}

.podval-text1{
position: absolute;
top: 60px;
left: 600px;
color: white;
font-size: 20px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
display: inline;
width: 200px;
}

.social-media{
position: absolute;
top: 100px;
left: 600px;
cursor: pointer;
}




.podval-text2{
    position: absolute;
    bottom: 430px;
    left: 670px;
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.podval-text3{
    position: absolute;
    bottom: 400px;
    left: 640px;
    color: white;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

.podval-text4{
    position: absolute;
    bottom: 370px;
    left: 750px;
    font-size: 17px;
    font-family: 'Arial Narrow Bold', sans-serif;
}

.podval-text5{
    position: absolute;
    bottom: 50px;
    left: 800px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: white
}
.podval-text6{
    position: absolute;
    bottom: 70px;
    left: 740px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    cursor: pointer;
}